body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  width: 50%;
}
.darkblue {
  color: #191970;
}
footer {
  text-align: right;
  color: midnightblue;
}

.main div .tile-image {
  width: 300px;
  float: left;
  margin-right: 25px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.card {
  width: 45%;
  clear: right;
}
@media (max-width: 1200px) {
  h1 {
    width: 100%;
    font-size: 55px;
  }
  footer {
    text-align: center;
  }
}
/*@media (max-width: 710px) {
  .logo {
    width: 50%;
  }
  .card {
    width: 100%;
  }
  .card-title {
    width: 50%;
    text-align: center;
  }
  .card p {
    text-align: center;
    width: 50%;
  }
  h1 {
    font-size: 45px;
  }
  footer {
    text-align: center;
  }
} */
@media (max-width: 712px) {
  .logo {
    width: 50%;
  }
  h1 {
    font-size: 45px;
  }
  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }
  .main div .tile-image {
    width: 100%;
  }
  .main .card-title {
    text-align: left;
  }
  .main p {
    text-align: left;
    width: 100%;
  }
  footer {
    text-align: center;
  }
}